<body>
    <app-background></app-background>
    <div class="zoom-container">
        <div class="body-id">
            <div class="floating-sidebar">
                <div class="avatar"></div>
                <ul class="social-links">
                    <li>
                        <div class="tooltip-container-github">
                            <a href="https://github.com/Cerd7" target="_blank">
                                <img class="top-bar-icon" src="https://icon-library.com/images/github-icon-png/github-icon-png-23.jpg">
                            </a>
                            <span class="custom-tooltip-github">GitHub</span>
                        </div>                    
                    </li>
                <li>
                    <div class="tooltip-container-blog">
                        <button routerLink="/home-blog" class="button-blog">
                            <img class="top-bar-icon" src="https://cdn-icons-png.flaticon.com/512/2920/2920244.png">
                        </button>
                        <span class="custom-tooltip-blog">Blog</span>
                    </div>  
                </li>
            </ul>
            <p class="footer-list">by - cerddev</p>
        </div>
        <!-- Para telas menores --> 
        <div class="top-bar">
            <div class="top-bar-content">
                <a href="">
                    <img class="top-bar-icon" src="https://icon-library.com/images/github-icon-png/github-icon-png-23.jpg">
                </a>
                <a href="">
                    <img class="top-bar-icon" src="https://cdn-icons-png.flaticon.com/512/2920/2920244.png">
                </a>
                <div class="top-bar-img"></div>
            </div>
        </div>

        <div class="inf-cerd">
            <h1>About me:</h1>
            <p>
                Java developer passionate about transforming ideas into innovative solutions. Currently, I have immersed myself in the world of Computer Science, always seeking to expand my knowledge and skills. Between codes and algorithms, I am constantly evolving to face new challenges and contribute to technological evolution.
            </p>
        </div>
        </div>
    </div>
</body>
