<div class="body-id">
    <!-- Background com blur -->
    <div class="background-blur"></div>

    <!-- Contêiner dos cards -->
    <div class="card-container">
        <div class="card" *ngIf="postData">
            <div class="card-header">
                <div class="avatar"></div>
                <div class="card-title">{{ postData.name }}</div>
                <div class="card-subtitle">
                    Posted by: {{postData.postedBy}} | Posted On: {{ postData.date | date: 'medium'}}
                </div>
            </div>
            
            <div class="grid-container">
                <div class="grid-image">
                    <img [src]="postData.img" class="post-img" alt="Card Image" />
                </div>
                <div class="grid-content">
                    {{ postData.content}}
                </div>
            </div>
            
            <hr>

            <div *ngFor="let tag of postData.tags">
                <button>
                    {{ tag }}
                </button>
            </div>
            <div class="card-actions">
                <button class="action-button">
                    {{ postData.likeCount }}
                    <span class="material-icons">favorite</span>
                </button>
                <button class="action-button" style="margin-left: 5px;">
                    {{ postData.viewCount }}
                    <span class="material-icons">remove_red_eye</span>
                </button>
                <button class="action-button" style="margin-left: 5px;" routerLink="/view-post/{{postData.id}}">View Post</button>
            </div>
        </div>
    </div>
</div>