<div class="body-id">
    <!-- Contêiner dos cards -->
    <div class="card-container">
        <div class="card" *ngFor="let item of allPosts">
            <div class="card-header">
                <div class="avatar"></div>
                <div class="card-title">{{ item.name }}</div>
                <div class="card-subtitle">
                    Posted by: {{item.postedBy}} | Posted On: {{ item.date | date:'medium' }}
                </div>
            </div>
            
            <div class="grid-container">
                <div class="grid-image">
                    <img [src]="item.img" class="post-img" alt="Card Image" />
                </div>
                <div class="grid-content">
                    {{ item.content && item.content.length > 600 ? item.content.slice(0, 600) + '....' : item.content }}
                </div>
            </div>
            
            <hr>
            <div class="card-actions">
                <button class="action-button">
                    {{ item.likeCount }}
                    <span class="material-icons">favorite</span>
                </button>
                <button class="action-button" style="margin-left: 5px;">
                    {{ item.viewCount }}
                    <span class="material-icons">remove_red_eye</span>
                </button>
                <button class="action-button" style="margin-left: 5px;" routerLink="/view-post/{{item.id}}">View Post</button>
            </div>
        </div>
    </div>
</div>