/* Estilo do body-id */
.body-id {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do contêiner dos cards */
.card-container {
    position: relative;
    z-index: 2;
    /* cards a frente do background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 16px;
}

/* Estilo do card */
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    /* Fundo semi-transparente */
    overflow: hidden;
    width: 100%;
    margin: 16px 0;
    padding: 16px;
}

/* Estilo do cabeçalho do card */
.card-header {
    padding: 16px;
    display: flex;
    align-items: center;
}

/* Estilo do avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    background-image: url(https://i.pinimg.com/originals/0b/5a/d5/0b5ad5cd17435492fdc7b12bbb4cc67e.png);
    background-size: cover;
}

/* Estilo do título do card */
.card-title {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo do subtítulo do card */
.card-subtitle {
    font-size: 14px;
    color: #666;
}

/* Estilo do contêiner da grade */
.grid-container {
    display: flex;
    padding: 16px;
}

/* Estilo da imagem na grade */
.grid-image {
    flex: 2;
    margin-right: 16px;
}

.grid-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Estilo do conteúdo na grade */
.grid-content {
    flex: 3;
    font-size: 14px;
    color: #333;
}

/* Estilo das ações do card */
.card-actions {
    padding: 16px;
    display: flex;
    align-items: center;
}

/* Estilo dos botões de ação */
.action-button {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.action-button .material-icons {
    margin-left: 8px;
    font-size: 18px;
}

/* Estilo do ícone de favorito */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}